@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500');
@import "./variables";

body {
    font-family: 'Rubik', sans-serif;
}

.center {
    display: block;
    margin: auto;
}

.h600 {
    font-size: $font-size-h600;
    font-weight: $font-weight-h600;
    line-height: $line-height-h600;
    font-family: $font-family;
}

.h500 {
    font-size: $font-size-h500;
    font-weight: $font-weight-h500;
    line-height: $line-height-h500;
    font-family: $font-family;
}

.h400 {
    font-size: $font-size-h400;
    font-weight: $font-weight-h400;
    line-height: $line-height-h400;
    font-family: $font-family;
}

.h300 {
    font-size: $font-size-h300;
    font-weight: $font-weight-h300;
    line-height: $line-height-h300;
    font-family: $font-family;
}

.h200 {
    font-size: $font-size-h200;
    font-weight: $font-weight-h200;
    line-height: $line-height-h200;
    font-family: $font-family;
}

.h100 {
    font-size: $font-size-h100;
    font-weight: $font-weight-h100;
    line-height: $line-height-h100;
    font-family: $font-family;
}

p {
    font-size: $font-size-p;
    font-weight: $font-weight-p;
    line-height: $line-height-p;
    font-family: $font-family;
}

.caption {
    font-size: $font-size-caption;
    font-weight: $font-weight-caption;
    line-height: $line-height-caption;
    font-family: $font-family;
}

.legal {
    font-size: $font-size-legal;
    font-weight: $font-weight-legal;
    line-height: $line-height-legal;
    font-family: $font-family;
}

.navigation-label {
    cursor: pointer;
}

.page-subheading {
}

.page-main-heading {
    margin-top: 15px;
    font-weight: 400;
    font-size: 40px;
    font-family: $font-family;
    display: inline-block;
}

.page-action-label {
    display: inline-block;
    float: right;
    font-weight: 500;
    font-family: $font-family;
    font-size: 18px;
    cursor: pointer;
    color: $brand-03;
    margin-top: 34px;
}

.section-heading {
    font-weight: 500;
    font-size: 14px;
    font-family: $font-family;
    padding-bottom: 15px;
}

.section-description {
    font-weight: 300;
    font-size: 14px;
    font-family: $font-family;
    padding-bottom: 15px;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    display: none;
}

.fade-exit.fade-exit-active {
    display: none;
}

.container {
    width: 960px;
    margin: auto;
}