@import "../styles/variables";

.zs-checkbox {
    & {
        display: block;
        position: relative;
        padding-left: 25px;
        margin-bottom: 12px;
        margin-left: 12px;
        margin-top: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-family: $font-family;
        font-size: 14px;
        font-weight: 400;
    }

    /* Hide the browser's default checkbox */
    & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* checkmark restyling */
    & .zs-checkbox-checkmark {
        left: 5px;
        top: 1px;
        width: 7px;
        height: 12px;
        border: solid $brand-03;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        display: none;
    }
}

/* Create a custom checkbox */
.zs-checkbox-box {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: $neutral-01;
    border: 2px solid $neutral-03;
    border-radius: 2px;
}

/* Background color when the checkbox is checked */
.zs-checkbox input:checked ~ .zs-checkbox-box {
    background-color: $neutral-01;
    border-color: $brand-03;
}


/* Show the checkmark when checked */
.zs-checkbox input:checked ~ .zs-checkbox-checkmark {
    display: block;
}

.zs-checkbox-group {
    margin-bottom:30px;
}