@import "../styles/variables";

.zs-radio-group {
    margin-top: 18px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.zs-radio {
    &:nth-child(n+2) {
        padding-top: 12px;
    }
}

.zs-radio-input {
  position: absolute;
  visibility: hidden;
}

.zs-radio-check {
    & {
        display: inline-block;
        border: 3px solid #767676;
        border-radius: 100%;
        height: 20px;
        width: 20px;
    }

    &::before {
        display: block;
        content: '';
        border-radius: 100%;
        height: 8px;
        width: 8px;
        margin: 3px auto;
    }
}

.zs-radio-annotation-column {
    font-family: $font-family;
    position: relative;
}

.zs-radio-annotation-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 8px;
    margin-left: 3px;
    border-left: 2px solid $support-05;
}

.zs-radio-annotation-arrow {
    position: absolute;
    border: solid $support-05;
    border-width: 0 2px 2px 0;
    background: white;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    top: calc(50% - 5px);
    z-index: 10;
}

label.zs-radio-label {
    & {
        margin-left: 10px;
        font-family: $font-family;
        font-weight: 'light';
    }
}

input[type=radio]:checked ~ .zs-radio-check {
    & {
        border: 3px solid #424496;
    }

    &::before {
        background: #424496;
    }
}
