@import "@zensors/core-ui/styles/variables.scss";

*, *:before, *:after {
	box-sizing: inherit;
	font-family: inherit;
}

html {
	box-sizing: border-box;
}

#root {
	.root-container#end-user {
		display: flex;
		min-height:80vh;
		margin-left:auto;
		margin-right:auto;
		width:$desktop-breakpoint;
		padding: $safe-area-padding;
		flex-direction: row;

		> :not(nav) {
			flex-grow: 1;
			padding: 1em;
		}
	}
}

