@import "~@zensors/core-ui/styles/variables.scss";

.camera-details-grid {
    min-height: 70vh;
    padding-top: 50px;
    display: grid;
    grid-area: camera-details-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(300px, auto) auto;
    grid-gap: 50px;
    grid-template-areas:
    "camera-details-image camera-details-credentials"
    "camera-details-questions camera-details-questions"
}

.camera-details-image {
    grid-area: camera-details-image;

    &>img {
        max-width: 100%;
    }
}

.camera-details-credentials {
    grid-area: camera-details-credentials;
    word-wrap: break-word;

    & > .label {
        font-weight: 500;
        margin-bottom: 15px;
    }

    .credentials-block {
        padding-top: 25px;
        padding-left: 15px;
        padding-bottom: 25px;
        width: 90%;
        background: $neutral-02;

        .credentials {
            max-width: 350px;
        }
    }
}

.camera-details-questions {
    grid-area: camera-details-questions;
    margin-bottom: 35px;

    & > .heading {
        font-weight: 300;
        font-family: $font-family;
        font-size: 24px;
        margin-bottom: 10px;
    }

    & > .subheading {
        margin-bottom: 25px;
    }

    & > .question-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr) 0.5fr;

        &.column-label {
            font-weight: 500;
            border-bottom: 1px solid $neutral-02;
            text-transform: uppercase;
        }

        &.row-entry {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 14px;

            & > .question-body {
                color: $brand-03;
                cursor: pointer;
            }
        }
    }
}