@import "~@blueprintjs/core/lib/scss/variables";

.copy {
	position: relative;
	top: .15em;
	margin: 0px .4em;
	cursor: pointer;
	position: relative;

	&::after {
		content: "Copied";
		position: absolute;
		background: $gray1;
		color: $white;
		font-size: .8em;
		padding: .1em .4em;
		left: 50%;
		transform: translateX(-50%);
		transition: 600ms opacity, 600ms bottom;
		opacity: 0;
		bottom: 100%;
	}

	&:active::after {
		transition: 0ms opacity, 0ms bottom;
		opacity: 1;
		bottom: 50%;
	}
}