@import "~@zensors/core-ui/styles/variables.scss";

.camera-name-section {
    margin-top: 30px;
    width: 45%;
}

.camera-section-label {
    font-weight: 500;
    margin-bottom: 15px;
}

.camera-type-section {
    margin-top: 30px;
    display: grid;

    .camera-type-input {
        margin-top: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        grid-gap: 35px;
    }

    .camera-type-select {
        display: grid;
        grid-template-columns: 40px auto;
        grid-template-rows: 30px auto;
        grid-template-areas:
        "camera-type-input-radio camera-type-label"
        "camera-type-input-radio camera-type-description";

        .camera-type-label {
            grid-area: camera-type-label;
            font-weight: 500;
            margin-bottom: 15px;
            margin-top: 3px;
            cursor: pointer;
        }

        .camera-type-input-radio {
            grid-area: camera-type-input-radio;

            .radio-input {
              position: absolute;
              visibility: hidden;
            }

            .radio-check {
                & {
                    display: inline-block;
                    border: 3px solid #767676;
                    border-radius: 100%;
                    height: 20px;
                    width: 20px;
                }

                &::before {
                    display: block;
                    content: '';
                    border-radius: 100%;
                    height: 8px;
                    width: 8px;
                    margin: 3px auto;
                }
            }

            input[type=radio]:checked ~ .radio-check {
                & {
                    border: 3px solid #424496;
                }

                &::before {
                    background: #424496;
                }
            }

        }

        .camera-type-description {
            width: 75%;
            grid-area: camera-type-description;
        }
    }

}

.confirm-button {
    padding-top: 50px;
    margin: 0;
}