@import "~@zensors/core-ui/styles/variables.scss";

.container {
    width: 960px;
    margin: auto;
}

.content-grid {
    padding-top: 35px;
    display: grid;
    grid-area: content-grid;
    grid-template-columns: 0.9fr 1fr 1fr;
    grid-auto-rows: minmax(300px, auto) 300px;
    grid-gap: 35px 15px;
    grid-template-areas:
    "camera-selection image-frame image-frame"
    "question-type question-input sample-rate";
}

.button-container {
    display:flex;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
}

.camera-selection {
    grid-area: camera-selection;
    padding-right:$safe-area-padding;
}

.image-frame {
    grid-area: image-frame;
    background-color: $neutral-02;
    border: 1px solid $brand-03;
}

.question-type {
    grid-area: question-type;
    padding-right:$safe-area-padding * 2;
}

.question-input {
    padding-left: 15px;
    padding-left:$safe-area-padding * 2;
    grid-area: question-input;
    border-left: 1px solid $neutral-02;
}

.sample-rate {
    padding-left: 15px;
    grid-area: sample-rate;
    border-left: 1px solid $neutral-02;
}

.review-and-confirm-button {
    margin: auto;
}

.question-confirmation-grid {
    padding-top: 35px;
    display: grid;
    grid-auto-rows: minmax(300px, auto) 200px;
    grid-area: question-confirmation-grid;
    grid-template-areas: "sample-answer" "question-details";
    grid-gap: 35px;
    margin:0;

    .heading {
        font-family: $font-family;
        font-size: 20px;
        font-weight: 400;
        border-bottom: 1px solid $brand-03;
        height: 32px;
    }

    .label {
        font-family: $font-family;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 28px;
    }

    .content {
        font-family: $font-family;
        font-size: 14px;
        font-weight: 500;
    }

    .sample-answer {
        display: grid;
        grid-area: sample-answer;
        grid-template-rows: 32px auto;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 35px 60px;
        grid-template-areas:
        "sample-answer-heading sample-answer-heading sample-answer-heading"
        "image-display image-display sample-answer-input";

        .heading {
            grid-area: sample-answer-heading
        }

        .image-display {
            grid-area: image-display;
        }

        .sample-answer-input {
            grid-area: sample-answer-input;
        }
    }

    .question-details {
        display: grid;
        padding-top: 15px;
        border-bottom: 1px solid $brand-03;
        grid-area: question-details;
        grid-template-rows: 32px auto;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 35px 60px;
        grid-template-areas:
        "question-details-heading question-details-heading question-details-heading"
        "col-first col-second col-third";

        .heading {
            grid-area: question-details-heading
        }

        .col-first {
            grid-area: col-first;
        }

        .col-second {
            grid-area: col-second;
        }

        .col-third {
            grid-area: col-third;
        }
    }

}

.review-and-confirm-button {
    padding-top: 30px;
    margin: 0;
}
