@import "~@zensors/core-ui/styles/variables.scss";

.location-data-grid {
    display:grid;
    grid-template-columns: repeat(2, 50%);
    grid-row-gap:20px;


}

.zs-dash-drawer {
    width:50%;
    position:absolute;
    z-index:99999;
    height:100%;
    right:0;
    background:white;
    padding:20px;
    border:1px solid grey;
}
.zs-dash-drawer-hidden {
    display:none;
    visibility: hidden;
}