@import "~@zensors/core-ui/styles/variables.scss";

* {
    font-family: 'Rubik', sans-serif;
}
.zs-graph-box {
    border-radius:5px;
    border:1px solid #F0F0F0;
    width:400px;

    .zs-graph-header {
        padding-top:10px;
        width:100%;
        padding-left:20px;
        display:grid;
        grid-auto-flow: column;
        justify-content: space-between;
        background-color:#F7F7F7;

        h1 {
            font-size: $font-size-h200;
            font-weight:400;
            display:inline-block;
        }

        .zs-graph-settings {
            padding-top:10px;
            padding-right:20px;
            padding-bottom:0;
            margin-bottom:0;
        }
    }

    // $support-04: #6fa9ff;
    // $support-05: #6470e7;
    .zs-data-comparison {
        width:100%;
        border-top:1px solid #F0F0F0;
        display:grid;
        grid-template-columns: 1fr 1fr;
        text-align:center;

        .zs-comparison-field {
            padding-top:20px;
            padding-bottom:20px;
            border-right: 1px solid #F0F0F0;
            border-top:1px solid #F0F0F0;

            .comparison-data {
                h1 {
                    font-weight:300;
                    font-size:18;
                    color: #424496;
                }

                .comparison-underline {
                    color: #999999;
                    font-weight:300;
                }
            }
        }

        .zs-comparison-field:first-child {
            border-top:none
        }
        .zs-comparison-field:nth-child(2) {
            border-top:none;
        }
        .zs-comparison-field:last-child {
            border:none;
        }
    }

    .grid-3-n {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.echarts-for-react{
    width:100%;
    height:250px !important;
    padding:0;
}

.echarts-for-react > div {
    padding:0;
    height:auto;
}