@import "~@blueprintjs/core/lib/scss/variables";
@import "~@zensors/core-ui/styles/variables";


/*
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(10px); }

*/

/* Root component for the navigation element */

.zs-dropdown-selected-item {
	padding-bottom:10px;
}
#zs-dropdown {
	background:white;
	padding:$safe-area-padding / 2 $safe-area-padding / 2 0 $safe-area-padding / 2;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.19);
	z-index:100;

	.pt-input-group input:focus + #zs-dropdown-results {
		background:red;
	}
	#zs-dropdown-results {
		margin-top:10px;
		height:100%;
		max-height:270px;
		overflow:scroll;
		padding-bottom:10px;
	}
	.zs-text-input {
		padding-bottom:10px;

		.zs-text-box {
			width:100%;
		}
	}

}


#zs-dropdown-results > * {
	border-top:1px solid $neutral-02;
	padding-top:10px;
	padding-bottom:10px;

	&:hover {
		border-radius:3px;
		border:none;
		padding-left:10px;
		background-color:$neutral-02;
	}
}
