@import "~@blueprintjs/core/lib/scss/variables";

@keyframes dash {
	from {
		stroke-dashoffset: 0;
	}

	to {
		stroke-dashoffset: 20;
	}
}

#device-details {
	.main-container {
		display: flex;
		flex-direction: row;

		> .device-image-area {
			flex-basis: 0px;
			flex-grow: 1;
		}

		 > div {
		 	width: 300px;
		 	flex-grow: 0;
		 }
	}

	.device-auth-list {
		.mono {
			font-family: $pt-font-family-monospace;
		}
	}

	.device-sensor-list {

		.sensor-listing {
			width: 100%;
			padding: .6em .2em;
			// height: 2em;
			display: flex;
			flex-direction: row;

			&:not(:last-child) {
				border-bottom: 1px solid $gray4;
			}

			.sensor-name {
				font-size: 1em;
				color: $gray3;
				flex-basis: 0px;
				flex-grow: 1;
				margin-right: 1em;
			}

			.sensor-latest-value {
				font-size: 1.6em;
				// float: right;
				color: $turquoise2;
				flex-grow: 0;
				font-weight: 800;
			}

			&:hover {
				background: $gray5;
			}
		}
	}

	.device-image-area {
		position: relative;
		background: $gray5;

		img {
			background: $gray1;
			max-width: 100%;
			max-height: 100%;
		}

		svg.polygon-input-selector {
			position: absolute;
			left: 0px;
			top: 0px;

			polygon {
				fill: transparent;
				stroke: $blue4;
				animation: dash 1000s infinite linear;
			}

			.mask-back {
				fill: $white;
			}

			.mask-front {
				fill: $black;
			}

			.darken {
				fill: rgba($dark-gray1, 0.5);
			}
		}
	}
}
