@import "~@blueprintjs/core/lib/scss/variables";
@import "~@zensors/core-ui/styles/variables.scss";

.camera-search-input {
	margin-top: 30px;
	width: 50%;
	min-width: 35vw;
}

.device-list {

	margin-top: 15px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 250px;
	grid-gap: 25px;


	.device-listing {
		position: relative;
		cursor: pointer;
		width: 100%;
		height: 100%;

		.device-name {
			position: absolute;
			height: 16%;
			left: 0px;
			right: 0px;
			bottom: 0px;
			color: $white;
			background: $brand-03;
			font-weight: 400;
			padding: .5em .8em .5em 1em;
			font-size: 18px;
		}

		.last-updated {
			position: absolute;
			font-size: 0.8em;
			font-weight: 700;
			padding: .4em;
			left: 0px;
			right: 0px;
			top: 0px;
			color: $white;
			background: rgba($dark-gray3, 0.7);
		}

		.camera-image-frame {
			width: 100%;
			height: 80%;
			background: $neutral-02;
		}

		img {
			width: 100%;
		}
	}
}
