@import "~@zensors/core-ui/styles/variables.scss";

.container {
    width: 960px;
    margin: auto;
}

body {
    overflow-x: hidden;
}

.home-screen-grid {
    min-height: 70vh;
    padding-top: 50px;
    display: grid;
    grid-area: home-screen-grid;
    grid-template-rows: 180px auto;
    grid-gap: 50px;
    grid-template-areas:
    "home-screen-actions"
    "home-screen-visualizations"
}

.home-screen-actions {
    grid-area: home-screen-actions;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.home-screen-visualizations {
    grid-area: home-screen-visualizations;
    height: auto;

    .tile {
        margin-top: 10px;
        box-shadow: 2px 1px 4px #dedede;
        border: 2px solid $brand-01;
        border-top: 5px solid $brand-01;
        min-height: 300px;
    }
}

.tile-header {
    height: 25px;
    font-weight: 300;
    font-size: 18px;

    .header-detail {
        font-weight: 500;
        cursor: pointer;
    }
}

.home-screen-action-tile {

    .tile {
        margin-top: 10px;
        height: 140px;
        border: 1px solid $support-05;
        border-top: 5px solid $brand-03;
        box-shadow: 2px 1px 4px #dedede;
        transition: 0.15s;
        cursor: pointer;

        &:hover {
            box-shadow: 6px 3px 4px #cccccc;
        }

        .tile-label {
            margin-top: 55px;
            color: $brand-03;
            font-size: 18px;
            font-weight: 500;
            width: 100%;
            text-align: center;

            .pt-icon-standard {
                font-size: 24px;
            }

        }
    }
}

.location-data-grid {
    display:grid;
    grid-template-columns: repeat(2, 50%);
    grid-row-gap:20px;
}

.zs-dash-drawer {
    width:50%;
    position:absolute;
    z-index:99999;
    height:100%;
    right:0;
    background:white;
    padding:20px;
    border:1px solid grey;
    transition: transform 0.3s;
    transition-timing-function: ease-in-out;
    -webkit-transition: -webkit-transform 0.3s;

    &.zs-dash-drawer-closed {
        transform: translate(100%);
        -webkit-transform: translate(100%);
    }
}
