@import "~@zensors/core-ui/styles/variables.scss";

.container {
    width: 960px;
    margin: auto;
}

.notification-page-content {
    min-height: 70vh;
}

.section-description {
    padding-top: 20px;
}

.notification-search-text-input {
    padding-top: 10px;
    width: 50%;
}

.notification-tile {

    & {
        font-family: $font-family;
        font-size: 14px;
        font-weight: 300;
        padding: 18px;
        height: 96px;
        display: grid;
        grid-area: notification-tile;
        grid-template-columns: 1fr 1fr;
        grid-rows: 1fr 1fr 1fr;
        grid-gap: 5px;
        grid-template-areas:
        "notification-tile-question notification-tile-status"
        "notification-tile-location notification-tile-timestamp"
        "notification-tile-camera ."
    }

    &:nth-child(n+3) {
        border-top: 1px solid #dedede;
    }
}

.notification-tile-question {
    grid-area: notification-tile-question;
    font-size: 14px;
    color: $brand-03;
    font-weight: 500;
    font-family: $font-family;
}

.notification-tile-location {
    grid-area: notification-tile-location;
}

.notification-tile-camera {
    grid-area: notification-tile-camera;
}

.notification-tile-status {
    grid-area: notification-tile-status;
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    font-family: $font-family;
}

.notification-tile-timestamp {
    grid-area: notification-tile-timestamp;
    text-align: right;
}

.new-notification-section {
    & {
        margin-top: 15px;
    }

    & > .notification-tile {
        background: #f1f1f6;
    }
}

.recent-notification-section {
    & {
        margin-top: 45px;
        margin-bottom: 35px;
    }
}
