@import "~@blueprintjs/core/lib/scss/variables";
@import "~@zensors/core-ui/styles/variables.scss";


/*
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(10px); }

*/

/* Root component for the navigation element */

#burger-check {
	position:absolute;
	width:30px;
	height:30px;
}

#burger-check:checked ~ #zs-menu-navigation{
	background: red;
 }

#zs-menu {
	width:100%;
	height:$header-height;
	background:white;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.19);
	font-family: $font-family;
}

/* Hamburger icon */
#zs-burger-menu{
	visibility: hidden;
}

/* Ensure that navigation doesn't expand past desktop breakpoint and neatly stays in the middle */
.zs-element-container{
	max-width:$desktop-breakpoint;
	margin-left:auto;
	margin-right:auto;
	padding-left:$safe-area-padding;
	padding-right:$safe-area-padding;
	/* Only two elements, so by space-between we can easily put them at outer edges without requiring floats */
	display: flex;
	justify-content: space-between;
	/* Vertical alignment hack for text */
	line-height:$header-height;
}

/* Styling of the actual logo type */
.logoType {
	line-height: $header-height;
	margin: 0;
	font-weight: 500;
	font-family: $font-family;
	font-size: 24px;
}

/* Navigation is split into nav blocks and control blocks. Nav blocks are to navigate between pages,
   Control blocks are used to log out, go to settings, and in the future possibly hold notifications
*/

.zs-nav-block, .zs-control-block{
	display:inline-block;
}

/* This is the element that is returned by the MenuItem component */
.zs-navigation-item {
	padding-left:$safe-area-padding;
	display:inline-block;
	float:left;
	/* Because we're doing onClick divs, we need to specify the pointer to match expected clickable behaviour */
	cursor: pointer;
	padding-right:$safe-area-padding;
}

/* Set all text color of elements that are  a (nested) child of zs footer bottom to color Y */
#zs-footer-bottom * {
	color:$neutral-03;
}
/* No hover when it is in the footer nav block */
.zs-nav-block:not(.zs-footer-nav-block) .zs-navigation-item:hover {
	box-shadow: inset 0 -2px 0 $brand-03;
}

.zs-icon-navigation-text {
	padding-left:10px;
}

/* Dynamic dividers can be set on any MenuItem component, it just adds a class that contains a border, and then adds
   some extra padding to make it look nice
*/

.left-divider {
	border-left:1px solid $neutral-02;
	padding-left:40px;
	margin-left:40px;
}

#zs-footer {
	border-top:1px solid $neutral-02;
	font-family: $font-family;
}


#zs-footer-bottom{
	background:$neutral-05;
	color:white;
}

/* Single breakpoint for now */
@media (max-width: $mobile-breakpoint) {
	#zs-menu {
		height:auto;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	/*	Clear the divider paddings, we dont want dividers on mobile menus to be possible */
	.left-divider {
		padding:0;
		border:0;
		margin:0;
	}

	/* Display it as a block instead of inline-block so it moves into its own row */
	.zs-nav-block{
		display:block;
	}

	/* Add a top border to the first nav block child (section separation) */
	.zs-nav-block:first-child, #zs-footer-navigation {
		border-top:1px solid $neutral-02;
	}

	#zs-legal-nav {
		border-top:1px solid $neutral-06;
	}
	/* The navigation part should be full width, and is hidden by default */
	.hidden {
		visibility:hidden;
		display:none;
	}
	#zs-menu-navigation {
		width:100%;
	}

	/* Instead of having bottom hover effect, it should now be on the side */
	.zs-nav-block:not(.zs-footer-nav-block) .zs-navigation-item:hover{
		box-shadow: inset 3px 0 0 $brand-03;
	}

	.zs-footer-nav-block .zs-navigation-item {
		padding-left:0;
	}

	/* Every navigation item (MenuItem Component) should be on its own line */
	.zs-navigation-item {
		display:block;
		float:none;
		width:100%;
	}

	.zs-footer-nav-block .zs-navigation-item, #zs-legal-nav .zs-navigation-item {
		display:inline;
		width:auto;
		padding-left:0;
	}
	.zs-element-container{
		display:block;
	}
	/* Show the burger menu when on the mobile menu */
	#zs-burger-menu {
		width:50px;
		visibility: visible;
		height:50px;
		margin-right:$safe-area-padding;
		/* No matter what icon size, horizontal + vertical centering of the SVG Icon (child elem) */
		display:flex;
		align-items: center;
		justify-content: center;
		/* LOL, I'm sure there's a better way for vertical alignment */
		margin-top:($header-height - 50) / 2
	}

	/* Top container contains the logo and burger menu */
	#zs-menu-top-container {
		width:100%;
		display:flex;
		justify-content: space-between;
	}

	#logo {
		width:200px;
		display:inline-block;
	}

	/* The control section should have a separator at the top */
	.zs-control-block {
		display:flex;
		border-top:1px solid $neutral-02;
		justify-content: space-between;
	}

  }