@import "~@blueprintjs/core/lib/scss/variables";
@import "~@zensors/core-ui/styles/variables.scss";

@keyframes dash {
	from {
		stroke-dashoffset: 0;
	}

	to {
		stroke-dashoffset: 20;
	}
}

.polygon-input {
	position: relative;
	max-width: 100%;
	max-height: 100%;

	img {
		max-width: 100%;
		max-height: 100%;
		// background: $gray1;
	}

	svg.polygon-input-selector {
		position: absolute;
		left: 0px;
		top: 0px;
		cursor: crosshair;

		polygon {
			fill: transparent;
			stroke: $neutral-01;
			animation: dash 1000s infinite linear;
		}

		ellipse {
			fill: $support-05;

			&.hover {
				fill: "FFFFFF";
			}
		}

		.mask-back {
			fill: $white;
		}

		.mask-front {
			fill: $black;
		}

		.darken {
			fill: rgba($dark-gray1, 0.5);
		}
	}
}

#zs-timestamp {
	padding:10px;
	color:white;
	right:0;
	background:rgba(0,0,0,0.5);
	z-index:999;
	position:absolute;
}