@import "~@zensors/core-ui/styles/variables.scss";

.polygon-overlay-container {

    position: relative;

    img {
        background: $neutral-02;
        max-width: 100%;
        max-height: 100%;
    }

    svg.polygon-overlay {
        position: absolute;
        left: 0px;
        top: 0px;

        polygon {
            fill: transparent;
            stroke: $brand-01;
        }

        .mask-back {
            fill: $neutral-01;
        }

        .mask-front {
            fill: $neutral-05;
        }

        .darken {
            fill: rgba($neutral-05, 0.5);
        }
    }
}