@import "~@zensors/core-ui/styles/variables.scss";

.container {
    width: 960px;
    margin: auto;
}

.question-details-grid {
    min-height: 70vh;
    padding-top: 50px;
    display: grid;
    grid-area: question-details-grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(300px, auto) auto;
    grid-gap: 50px;
    grid-template-areas:
    "question-details-content question-details-image"
    "question-details-viz question-details-viz"
}

.question-details-content {
    grid-area: question-details-content;
}

.question-details-image {
    grid-area: question-details-image;
    background: #f5f5f5;
}

.question-details-viz {
    grid-area: question-details-viz;

    & > div {
        width: 100%;
        text-align: center;
    }
}

.question-details-content-row {
    margin-top: 15px;
}

.question-details-content-label {
    font-family: $font-family;
    font-size: 14px;
    font-weight: 500;
}

.question-details-content-header {
    display: inline-block;
}

.question-details-edit-button {
    display: inline-block;
    float: right;
    font-family: $font-family;
    font-size: 14px;
    font-weight: 500;
    color: $brand-03;
    margin-top: 8px;
}