@import "~@zensors/core-ui/styles/variables.scss";

$filter-panel-width: 200px;

.container {
    width: 960px;
    margin: auto;
}

.question-list-grid {
    min-height: 70vh;
    padding-top: 20px;
    display: grid;
    grid-area: question-list-grid;
    grid-template-columns: $filter-panel-width auto;
    grid-gap: 20px;
    grid-template-areas:
    "filter-panel question-list-table"
}

.filter-panel {
    grid-area: filter-panel;
}

.question-list-table {
    & {
        grid-area: question-list-table;
        font-family: $font-family;
    }

    & > div {
        & {
            display: grid;
            grid-template-columns: 1fr 7fr 2fr 2.5fr 2fr 2fr;
        }

        &:nth-child(odd) {
            background-color: $neutral-01;
        }

        &:nth-child(even) {
            background-color: #f3f3f3;
        }
    }
}

.question-list-column-labels {
    & {
        background-color: $neutral-01;
        height: 40px;
        line-height: 40px;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
    }
}

.sensor-listing {
    & {
        height: 40px;
        line-height: 40px;
    }

}

.question-name-label {
    font-weight: 500;
    font-size: 14px;
    color: $brand-03;
    cursor: pointer;
}

